{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="list-group">
    	{% for listing in listings %}
	    	<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">{{ listing.title }}</h5>
			      <small>{{ listing.creation_date }}</small>
			    </div>
			    <h6 class="mb-1">Price: U$S {{ listing.starting_bid }}</h6>
			    <p class="mb-1">{{ listing.descr }}</p>
			    <small>
			    	{% if listing.l_comments == None %}
			    		No comments
			    	{% else %}
			    		{{ listing.l_comments }}
			    	{% endif %}
				</small>
			</a>
		{% endfor %}
    </div>
{% endblock %}